snippet sout "println" b
System.out.println($1);$0
endsnippet

snippet print "print" b
System.out.print($1);$0
endsnippet

snippet printf "print" b
System.out.printf($1);$0
endsnippet

snippet try "try for exception" b
try {
	$1
} catch (${2:Exception e}) {
	$3
	${4:e.printStackTrace();}
}
$0
endsnippet

snippet psvm "main method" b
public static void main(String[] args) {
	$0
}
endsnippet
