Session.vim

.config/nvim/pack/*
.config/nvim/.netrwhist
.config/nvim/plugged

.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/ranger/colorschemes/__init__.py
.config/ranger/colorschemes/*.pyo

.config/vifm/vifminfo

.local/share/fonts/.uuid
