; Author : Enan Ajmain
; Email  : 3nan.ajmain@gmail.com
; Github : https://github.com/3N4N

[user]
  email = 3nan.ajmain@gmail.com
  name = Enan Ajmain
  signingkey = 448F8D0D0D6DB601566E396CA031EA10A3ECB75D
[credential]
  helper = manager-core
[core]
  abbrev = 12
  preloadindex = true
  fscache = true
  ; pager = less -+$LESS
  editor = nvim
  filemode = false
[log]
  date = short
[push]
  default = current
[pager]
  show = less -+$LESS -N
[sendemail]
  smtpServer = smtp.gmail.com
  smtpServerPort = 587
  smtpEncryption = tls
  smtpUser = 3nan.ajmain@gmail.com
  ; smtpPass = gmail app pass
[alias]
  ls = log --source --graph --pretty=format:'%C(yellow)%h %Creset[%ad] %s %C(green)[%an]%C(red)%d'
  ll = log --source --stat -p
  br = branch
  ba = branch -av
  bv = branch -v
  st = status -sb
  sh = stash
  sa = stash save --include-untracked
  co = checkout
  cp = cherry-pick
  cl = clone
  ct = commit
  cta = commit --amend
  df = diff
  dp = diff --stat
  ds = diff --staged
  dw = diff --word-diff
  la = config --get-regexp alias
  wt = worktree
  cnt = rev-list --count HEAD
  count = rev-list --count
