[user]
  email = 3nan.ajmain@gmail.com
  name = Enan Ajmain
[credential]
  # after entering password, don't ask for it again in 30 mins
  helper = cache --timeout=1800
[core]
  # recommended SHA minimum length  https://lkml.org/lkml/2013/9/30/365
  abbrev = 12
  # Enable parallel index preload for some operations (diff, status).
  preloadindex = true
  # improve performance (requires msysgit 1.9.4+)
  fscache = true
  # use colored less as pager
  pager = less -+$LESS -R
  # use vim as editor
  editor = nvim
[log]
  date = short
[push]
  default = current
[alias]
  ls = log --all --graph --pretty=format:'%C(yellow)%h %Creset%ad | %s %C(green)%an%C(red)%d'
  ll = log --stat --source -p
  b = branch
  ba = branch -avv
  br = branch -vv
  st = status -sb
  sh = stash
  co = checkout
  cp = cherry-pick
  cl = clone
  ct = commit
  diff = diff --word-diff
  dc = diff --cached
