# $include /etc/inputrc

# bind c-p and c-n keys for history navigation
"\C-p": history-search-backward
"\C-n": history-search-forward

# bind keys for case conversion
"\ei": capitalize-word
"\eo": upcase-word
"\eu": downcase-word

# bind keys for clearing screen
# "\e\C-l": clear-screen

set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
